
html, body {
    margin: 0;
    padding: 0;
}

/*styleguide

title: Styleguide item
description: |
    #### Heading 3
    This is a paragraph

    - With a list
    - And another list item

    And another paragraph

category: Buttons


---

<div class="woot">Markup</div>
<script>
    var something = "this";
</script>


*/


button {
    -webkit-appearance: none;
}

/* endstyleguide */



/*styleguide

title: Styleguide item 2
description: This is a styleguide item.
category: Buttons => Rounded Buttons


-----------

<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>


endstyleguide*/

/*styleguide

title: Styleguide item 4
description: This is a styleguide item.
category: Buttons => Rounded Buttons

-----------

<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>


endstyleguide*/


/*styleguide

title: Styleguide item 2
description: This is a styleguide item.
category: Buttons => Rounded Buttons => 3rd level


-----------

<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>
<div class="woot">Markup</div>


endstyleguide*/