<div class="sg-category">
    {{#each content.categories}}
        {{setContext ../content.context @key}}
        <h2 class="sg-heading" id="{{getId context}}">{{@key}} <a href="#{{getId context}}" class="anchor-link">#</a></h2>
        {{#if items}}
            {{#each items}}
                <div class="sg-item">
                    <h3 class="sg-heading" id="{{getId ../../context info.title}}">{{ info.title}} <a href="#{{getId ../../context info.title}}" class="anchor-link">#</a></h3>
                    {{#if info.description }} 
                        {{{ markdown info.description }}}
                    {{/if}}
                    <div class="sg-item--content">
                        <div class="sg-example">
                            <a href="{{filePath info.category info.title}}" target="_blank" class="sg-example-view">Open in new window</a>
                            <div class="iframe-container">
                                <iframe src="{{filePath info.category info.title}}"></iframe>
                            </div>
                            <textarea></textarea>
                        </div>
                        <div class="sg-highlight-container">
                            {{{ highlight body }}}
                        </div>
                        
                    </div>
                </div>
            {{/each}}
        {{/if}}
        {{#if subcat}} 
            {{&recursiveCategory subcat ../context}}
        {{/if}}
    {{/each}}
</div>


