<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Styleguide</title>
    <link rel="stylesheet" href="{{ settings.assetDir }}css/normalize.css">
    <link rel="stylesheet" href="{{ settings.assetDir }}css/highlight.css">
    <link rel="stylesheet" href="{{ settings.assetDir }}css/style.css">
</head>
<body>
    <aside class="sg-aside">
        <h2 class="sg-index-heading">Index</h2>
        <nav class="sg-index">
            {{&recursiveNav content.categories "sg"}}
        </nav>
    </aside>
    <div class="sg-container">
        <h2 class="sg-page-heading">Styleguide</h2>
        <div class="sg-container--content">
            {{&recursiveCategory content.categories "sg"}}
        </div>
    </div>
</body>
</html>